<div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-p-6">
  <div class="tw-mb-6"  >
    <h5 class="tw-text-2xl tw-font-bold tw-text-violet-700 tw-font-sans">RESERVASI</h5>
    <div class="tw-py-5">
      <app-reservasi-choice (emitReservation)="onGetReservation($event)">
        
      </app-reservasi-choice>
    </div>

  </div>
  
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-6 tw-mb-6">
    <!-- Nomor Kontrak -->
    <div>
      <label class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Nomor Kontrak</label>
      <input
        [(ngModel)]="reservasi.nomorKontrak"
        type="text"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      />
    </div>

    <!-- Nomor BPKB -->
    <div>
      <label class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Nomor BPKB</label>
      <input
        [(ngModel)]="reservasi.nomorBPKB"
        type="text"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      />
    </div>

    <!-- Tipe Kendaraan -->
    <div>
      <label class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Tipe Kendaraan</label>
      <select
        [(ngModel)]="reservasi.tipeKendaraan"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      >
        <option [ngValue]="'mobil'">Mobil</option>
        <option [ngValue]="'motor'">Motor</option>
      </select>
    </div>
  </div>

  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-6 tw-mb-6">
    <!-- Jadwal -->
    <div>
      <label class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Jadwal</label>
      <input
        [(ngModel)]="reservasi.jadwal"
        type="date"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      />
      <ngb-timepicker [(ngModel)]="time" />
    </div>

    <!-- Biaya Real -->
    <div>
      <label class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Biaya Real</label>
      <input
        [(ngModel)]="reservasi.real"
        type="number"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      />
    </div>

    <!-- Biaya Estimasi -->
    <div>
      <label aria-required="true" class="tw-block tw-text-sm tw-font-medium tw-text-violet-700">Biaya Estimasi</label>
      <input
        [(ngModel)]="reservasi.estimasi"
        type="number"
        class="tw-mt-1 tw-p-2 tw-block tw-w-full tw-border tw-border-violet-300 tw-rounded-md tw-focus:ring-violet-500 tw-focus:border-violet-500"
      />
    </div>
      
    <div class="tw-row tw-mb-3 tw-mt-3 tw-w-96" *ngIf="reservasi.customer">
      <app-customer-detail
        [customer]="reservasi.customer" [clearButton]="false"
      ></app-customer-detail>
    </div>
  </div>

  <div class="tw-items-end tw-text-right tw-mb-10">
    <button class="tw-bg-violet-600 hover:tw-bg-violet-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" (click)="onCreate()">
      Simpan
    </button>
  </div>
<!--   
  <pre class="tw-bg-violet-100 tw-p-4 tw-rounded-lg">
    <p class="tw-font-bold tw-font-sans tw-uppercase">Data Preview</p>
    {{ reservasi | json }}
  </pre> -->
</div>
