<div class="flex mb-4 space-x-2">
  <input
    type="text"
    placeholder="Your task..."
    [(ngModel)]="todo.task"
    (change)="search()"
    class="tw-flex-grow tw-p-2 tw-border tw-border-violet-300 tw-rounded-md tw-shadow-sm focus:tw-ring-violet-500 focus:tw-border-violet-500"
  />

  <button
    type="button"
    (click)="add()"
    class="tw-bg-violet-500 tw-text-white tw-p-2 tw-rounded-md tw-shadow-md hover:tw-bg-violet-600 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-violet-500"
  >
    <fa-icon [icon]="icons.add"></fa-icon>
  </button>
</div>
