
<!-- Day 7 - forms conditional -->
<!-- <div class="container my-5">
  <div class="row">
    <div class="col-md-6 tw-mx-auto">
      <div class="card">
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="card-body">
            <div class="row">
              <div class="form-group mb-3 col">
                <label class="mb-2">Email</label>
                <input
                  class="form-control"
                  type="email"
                  #email="ngModel"
                  name="email"
                  ngModel
                  required
                  email
                  [ngClass]="{
                    'border-success': email.valid,
                  }"
                />
                <app-message-validation [field]="email" [label]="'email'" />
              </div>
              <div class="form-group mb-3 col">
                <label class="mb-2">Username</label>
                <input
                  class="form-control"
                  type="text"
                  #username="ngModel"
                  name="username"
                  ngModel
                  required
                  [maxlength]="10"
                  [minlength]="5"
                  pattern="^[a-zA-Z]+$"
                  [ngClass]="{
                    'border-success': username.valid,
                  }"
                />
                <app-message-validation
                  [field]="username"
                  [label]="'username'"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group col">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    ngModel
                    #menikah="ngModel"
                    name="menikah"
                    required
                  />
                  <label class="form-check-label"> Menikah </label>
                </div>

                <div
                  *ngIf="!menikah.valid && (menikah.dirty || menikah.touched)"
                  class="text-helper text-danger"
                >
                  <span *ngIf="menikah.errors!['required']">
                    Menikah is required
                  </span>
                </div>
              </div>

              <div class="form-group col">
                <label>Gender</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    ngModel
                    #gender="ngModel"
                    name="gender"
                    required
                    value="pria"
                  />
                  <label class="form-check-label"> Pria </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    ngModel
                    #gender="ngModel"
                    name="gender"
                    required
                    value="wanita"
                  />
                  <label class="form-check-label"> Wanita </label>
                </div>

                <app-message-validation [field]="gender" [label]="'gender'" />
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group">
                <label class="mb-2">Hobi</label>
                <select
                  class="form-select"
                  name="hobi"
                  required
                  ngModel
                  #hobi="ngModel"
                >
                  <option [ngValue]="null">Open this select hobi</option>
                  <option [ngValue]="1">Berenang</option>
                  <option [ngValue]="2">Mancing</option>
                  <option [ngValue]="3">Turu</option>
                </select>

                <app-message-validation [field]="hobi" [label]="'hobi'" />
              </div>
            </div>

            <div class="row mb-3" ngModelGroup="address">
              <div class="form-group col">
                <label class="mb-2">City</label>
                <input
                  
                  type="text"
                  class="form-control"
                  name="city"
                  #addressCity="ngModel"
                  ngModel
                  required
                />

                <app-message-validation
                  [field]="addressCity"
                  [label]="'city'"
                />
              </div>

              <div class="form-group col">
                <label class="mb-2">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="zipCode"
                  ngModel
                  required
                  #addressZipCode="ngModel"
                />

                <app-message-validation
                  [field]="addressZipCode"
                  [label]="'zip code'"
                />
              </div>
            </div>

            <div class="row" ngModelGroup="address">
              <div class="form-group col">
                <label class="mb-2">Street</label>
                <textarea
                  class="form-control"
                  #addressStreet="ngModel"
                  name="street"
                  ngModel
                  required
                ></textarea>
                <app-message-validation
                  [field]="addressStreet"
                  [label]="'street'"
                />
              </div>
            </div>
          </div>

          <div class="card-footer d-flex gap-3">
            <button
              [disabled]="form.invalid"
              class="btn btn-primary"
              type="submit"
            >
              Save
            </button>
            <button
              class="btn btn-secondary"
              (click)="form.reset()"
              type="button"
            >
              Reset
            </button>
            <button
              class="btn btn-secondary"
              (click)="onDefault()"
              type="button"
            >
              Default
            </button>
            <button
              class="btn btn-secondary"
              (click)="onChangeHobi()"
              type="button"
            >
              Change Hobi
            </button>
            <button
              class="btn btn-secondary"
              (click)="onPatching()"
              type="button"
            >
              Patch Level 1
            </button>
            <button
              class="btn btn-secondary"
              (click)="onChangeAddress()"
              type="button"
            >
              Ubah Alamat
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->






<!-- end of Day 7 -->

<div class="tw-min-h-screen tw-w-full  tw-bg-violet-200 tw-bg-violet-900 tw-pt-24">
  <!-- <app-navigation></app-navigation> -->

    <!-- <app-berkas
      [oncom]="counter"
      [product]="product"
      (emit)="handler($event)"
    ></app-berkas> -->

    <!-- ini app todo -->
    

    <h1 class="tw-text-center tw-text-white tw-text-white tw-text-4xl tw-font-sans tw-pb-16 tw-font-bold">Reservation APP</h1>

    <div class="container tw-mx-auto tw-pb-40">
      <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-gap-24">
        <div class="md:tw-col-span-4 lg:tw-col-span-2">
          <app-customer-choice></app-customer-choice>
        </div>
        <div class="md:tw-col-span-4 lg:tw-col-span-2">
          <app-reservasi-create> </app-reservasi-create>
        </div>
      </div>
    </div>
    
    <!-- <div class="tw-flex tw-overflow-y-auto tw-flex-col tw-gap-4 tw-w-1/2 md:tw-flex-row tw-mx-auto tw-mt-10">
      <app-todo class="tw-w-full "></app-todo>
      <app-todo class="tw-w-full" [title]="'Trash'" [forTrash]="true"></app-todo>

    </div>


    <h1 class="text-4xl font-bold text-red-500 font-serif">Container Component 'Parent'</h1>
    <div class="text-xl text-red-500 mt-10">" {{ counter }} "</div> -->

    <!-- Directive Test -->
    <!-- <div class="form-group pt-40">
      <label>Font Size</label>
      <input type="number" [(ngModel)]="fontSize" class="form-control" />
    </div>
    
    <div
      (click)="isActive = !isActive"
      [ngStyle]="{ 'fontSize.px': fontSize, color: isActive ? 'blue' : 'gray',  }"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, recusandae,
      illum cum qui voluptates obcaecati sit aut dolorum, vitae sint in! Cumque
      quibusdam nam reiciendis impedit quam a ipsam cupiditate.
    </div>
    
    <div [ngStyle]="myObjectClass">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis sed
      exercitationem temporibus itaque rerum neque atque amet commodi, eveniet totam
      soluta molestiae minima asperiores debitis aliquid perspiciatis recusandae
      minus.
    </div>
    
    <div [ngStyle]="myStyleClass" (click)="onChangeColor()">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, eos?
      Impedit suscipit tempore maiores aliquid voluptates, quas eveniet delectus non
      consequatur vel aliquam officia ratione voluptate vero, corporis dolorum
      laboriosam.
    </div>
     -->
    <!-- Classifying - ngIf -->
    <!-- <div class="space-y-4"> -->
      <!-- Checkbox with Tailwind Styling -->
      <!-- <div class="flex">
        <input type="checkbox" [(ngModel)]="show" class="mr-2 h-4 w-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500" />
        <label class="">Aktifkan</label>
      </div> -->
    
      <!-- First ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 1</h1>
      <h5 *ngIf="show" class="text-green-500">Show = True</h5>
      <h5 *ngIf="!show" class="text-red-500">Show = False</h5> -->
    
      <!-- Second ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 2</h1>
      <h5 *ngIf="show; else a1" class="text-green-500">Show = True</h5>
      <ng-template #a1>
        <h5 class="text-red-500">Show = False</h5>
      </ng-template> -->
    
      <!-- Third ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 3</h1>
      <h5 *ngIf="show; then b1; else b2" class="text-green-500">Show = True</h5>
      <ng-template #b1>
        <h5 class="text-green-500">Show = True</h5>
      </ng-template>
      <ng-template #b2>
        <h5 class="text-red-500">Show = False</h5>
      </ng-template>
    </div> -->




