<div class="h-screen overflow-y-hidden">
  <app-navigation></app-navigation>
  <div class="w-screen pt-10 bg-blue-100 pb-24 text-center bg-violet-900">
    <!-- <app-berkas
      [oncom]="counter"
      [product]="product"
      (emit)="handler($event)"
    ></app-berkas> -->
    <div class="flex">
    <app-todo></app-todo>
    <app-todo [title]="'Trash'" [forTrash]="true"></app-todo>

  </div>
    <!-- <h1 class="text-4xl font-bold text-red-500 font-serif">Container Component 'Parent'</h1>
    <div class="text-xl text-red-500 mt-10">" {{ counter }} "</div> -->

    <!-- Directive Test -->
    <!-- <div class="form-group">
      <label>Font Size</label>
      <input type="number" [(ngModel)]="fontSize" class="form-control" />
    </div>
    
    <div
      (click)="isActive = !isActive"
      [ngStyle]="{ 'fontSize.px': fontSize, color: isActive ? 'blue' : 'gray',  }"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, recusandae,
      illum cum qui voluptates obcaecati sit aut dolorum, vitae sint in! Cumque
      quibusdam nam reiciendis impedit quam a ipsam cupiditate.
    </div>
    
    <div [ngStyle]="myObjectClass">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis sed
      exercitationem temporibus itaque rerum neque atque amet commodi, eveniet totam
      soluta molestiae minima asperiores debitis aliquid perspiciatis recusandae
      minus.
    </div>
    
    <div [ngStyle]="myStyleClass" (click)="onChangeColor()">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, eos?
      Impedit suscipit tempore maiores aliquid voluptates, quas eveniet delectus non
      consequatur vel aliquam officia ratione voluptate vero, corporis dolorum
      laboriosam.
    </div> -->
    
    <!-- Classifying - ngIf -->
    <!-- <div class="space-y-4"> -->
      <!-- Checkbox with Tailwind Styling -->
      <!-- <div class="flex items-center mx-auto text-center justify-center">
        <input type="checkbox" [(ngModel)]="show" class="mr-2 h-4 w-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500" />
        <label class="text-white">Aktifkan</label>
      </div> -->
    
      <!-- First ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 1</h1>
      <h5 *ngIf="show" class="text-green-500">Show = True</h5>
      <h5 *ngIf="!show" class="text-red-500">Show = False</h5> -->
    
      <!-- Second ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 2</h1>
      <h5 *ngIf="show; else a1" class="text-green-500">Show = True</h5>
      <ng-template #a1>
        <h5 class="text-red-500">Show = False</h5>
      </ng-template> -->
    
      <!-- Third ngIf Example -->
      <!-- <h1 class="text-xl font-bold text-white">Cara ngIf 3</h1>
      <h5 *ngIf="show; then b1; else b2" class="text-green-500">Show = True</h5>
      <ng-template #b1>
        <h5 class="text-green-500">Show = True</h5>
      </ng-template>
      <ng-template #b2>
        <h5 class="text-red-500">Show = False</h5>
      </ng-template>
    </div> -->

    
  <!-- <img src="path-to-your-gif.gif" alt="Description of GIF" class="mx-auto my-10"> -->
</div>

