<nav data-bs-theme="dark">
  <div class="bg-white flex items-center border-b-2 border-gray-200 shadow-xl border-dashed justify-center">
    <a class="flex items-center font-bold" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/BCA_Finance.svg/1200px-BCA_Finance.svg.png?20230308140426"
        alt="Logo"
        width="180"
        class="mr-5"
      />
      <img
        src="https://media.tenor.com/7zKZuIk31GEAAAAM/bird-dance.gif"
        alt="Logo"
        width="50"
        class="ml-5"
      />
      <!-- <span class="text-center">TO DO APP</span> -->
    </a>
  </div>
</nav>
