<div class="tw-flex">
  <div class="tw-w-3/4">
<li
  [ngClass]="{
    'tw-flex tw-justify-between tw-items-center tw-bg-violet-500 tw-text-white': isCustomerSelected(),
    'tw-flex tw-justify-between tw-items-center tw-bg-violet-50 hover:tw-bg-violet-200': !isCustomerSelected()
  }"
  class="tw-p-4 tw-rounded-lg tw-shadow tw-mb-2"
>
  <div class="tw-mr-auto">
    <div class="tw-font-bold ">{{ customer.name }}</div>
      <div class=" tw-mb-5">{{ customer.email }}</div>
      <div
        [ngClass]="customer.status === 'macet' ? 'tw-bg-red-500 tw-rounded-full tw-w-20 tw-text-center tw-text-sm' : 'tw-bg-green-500 tw-rounded-full tw-w-20 tw-text-center tw-text-sm'"
        class="tw-text-white tw-font-bold tw-uppercase"
      >
        {{ customer.status }}
      </div>
  </div>
</li>
</div>

<div>
  <button *ngIf="clearButton" (click)="customerReservasi()" class="btn tw-bg-violet-600 tw-text-white tw-items-center tw-mx-auto tw-mt-10 tw-ml-5">
    <fa-icon [icon]="icons.share"></fa-icon>

  </button>
  
</div>

</div>
<li
  *ngIf="!customer"
  class="tw-list-group-item tw-d-flex tw-justify-content-between tw-align-items-start"
>

  No customer choice... {{ 1727505000000 | date : 'full' }}
</li>
